@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    color: rgb(248, 244, 255);
    background-color: rgb(41, 40, 46);
    font-family: 'Signika', sans-serif;
    user-select: text;
    cursor: default;
}

table {
    width: 100%;
}

.row-td {
    width: 50%;
}

.row-mobile {
    display: none;
}

a {
    color: currentColor;
    text-decoration: initial;
}

h1 {
    font-size: 70px;
    text-align: center;
}

h2 {
    font-size: 50px;
    margin-left: 100px;
}

h3 {
    font-size: 40px;
    margin-left: 100px;
}

h2, h3 {
    padding-top: 100px;
    padding-bottom: 10px;
}

p {
    text-align: justify;
    font-size: 30px;
    margin-left: 120px;
}

img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;    
    border-radius: 20px;
}

.heading-pic {
    width: 700px;
}

.link:link, .link:visited {
    color: #9dacc5;
}

@media only screen and (max-width: 1200px) {
    img {
        width: 70%;
    }

    .heading-pic {
        width: 80%;
    }

    p {
        margin-left: 80px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 650px) {
    td {
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 45px;
    }

    h3 {
        font-size: 40px;
    }

    h2, h3 {
        text-align: center;
        margin-left: 0;
        padding-top: 50px;
    }

    p {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 25px;
    }

    img {
        width: 70%;
    }

    .heading-pic {
        width: 90%;
    }

    .row-mobile {
        display: table;
    }

    .row-desk {
        display: none;
    }
}