@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    color: rgb(248, 244, 255);
    background-color: rgb(41, 40, 46);
    font-family: 'Signika', sans-serif;
    user-select: text;
    cursor: default;
}

img {
    border-radius: 3%;
    display: block;
}

#title-pic {
    width: 600px;
    margin-left: auto;
}

table {
    width: 100%;
    padding: 4%;
}  

#title {
    font-size: 60px;
    text-align: center;
}

#rose {
    width: 60%;
    margin-left: 10%;
}

h2 {
    margin-left: 8%;
    margin-bottom: -5%;
    font-size: 35px;
}

h3 {
    margin-left: 9%;
    font-size: 26px;
}

p {
    margin-left: 10%;
    margin-right: 18%;
    font-size: 21px;
    line-height: 150%;
}

a {
    text-decoration: none;
    color: rgb(156, 149, 255);
}

.left-pic, .right-pic {
    width: 500px;
}

.left-pic {
    margin-left: 10%;
}

.right-pic {
    margin-left: 16%;
}

tr.row>td {
    padding-bottom: 10%;
}