@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    color: rgb(248, 244, 255);
    background-color: rgb(41, 40, 46);
    font-family: 'Signika', sans-serif;
    user-select: text;
    cursor: default;
}

table {
    width: 100%;
}

#nav-bar-mobile {
    display: none;
}

a {
    color: currentColor;
    text-decoration: initial;
}

.navbar-link {
    width: 33.3%;
    padding-top: 30px;
    padding-bottom: 30px;
}

#nav-bar-desk, #nav-bar-mobile {
    width: 99.2%;
    text-align: center;
    font-size: 25px;
    background-color: #1D2D44;
    border-radius: 15px 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 5px;
}

#home {
    font-size: 40px;
}

h1 {
    font-size: 70px;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    font-size: 50px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p {
    text-align: justify;
    font-size: 30px;
    margin-left: 160px;    
    margin-right: 160px;
}

.link:link, .link:visited {
    color: #9dacc5;
}

@media only screen and (max-width: 650px) {
    td {
        width: 100%;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 45px;
        text-align: center;
        margin-left: 0;
    }

    p {
        margin-left: 15%;
        margin-right: 15%;
        font-size: 25px;
    }

    #nav-bar-mobile {
        display: table;        
        width: 97%;
    }

    #nav-bar-desk {
        display: none;
    }
}